body,html {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
 }
canvas {
  width: 100%; height: 100%
}

@font-face {
  font-family: Vonique64;
  src: url(assets/fonts/Vonique64.ttf);
}

.nav {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom:0;
}

.nav__right {
  float: right;
  display: flex;
  flex-direction: row;
  width: 30%;
}

.nav__left {
  width: 70%;
  float: left;
}
.nav__list {
  width: 100%;
  list-style: none;
  font-family: sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  /* background: #ededed; /* For browsers that do not support gradients */
  /* background: -webkit-linear-gradient(#000,#181818 ); /* For Safari 5.1 to 6.0 */
  /* background: -o-linear-gradient(#000,#181818); /* For Opera 11.1 to 12.0 */
  /* background: -moz-linear-gradient(#000,#181818); /* For Firefox 3.6 to 15 */
  /* background: linear-gradient(#000,#181818); /* Standard syntax (must be last) */ */
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  font-family: Vonique64;
  font-size: 2rem;
  display: flex;
}

.nav__sub-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  font-family: Vonique64;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 0.2rem;
}

.nav__item {
  text-align: center;
  width: 25%;
  display: flex;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .nav__link {
    font-size: 1.2rem;
  }
  .nav__sub-link {
    font-size: 7px;
  }
  
  .nav {
    flex-direction: column;
    /* bottom: -1rem; */
  }
  .nav__left, .nav__right, .nav__center {
    width: 100%;
    justify-content: space-around;
    padding: 0.4rem;
  }
  .nav__list {
    justify-content: space-around;
  }
}

.nav__link:after {
  transform: scaleY(-1);
  opacity: .5;
}

.nav__icon {
  width: 1.2rem;
}

.sound{
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #888;
  font-size: 1.5rem;
  background: none;
  border: none;
}

.sound--on, .nav__link:hover, .contact__form-button:hover {
  text-decoration: none;
  webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}

.notification {
  background: none;
  border: none;
  display: block;
  position: absolute;
  bottom: 7rem;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  font-family: Vonique64;
  color: #fff;
  cursor: pointer;
}


.contact {
  color: #aaa;
  font-family: Vonique64;
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}

.contact__text {
  font-family: Vonique64;
  color: #888;
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

.contact__form {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
}

.contact__form-input {
  z-index: 10;
  font-family: Helvetica;
  background: #000;
  border: 1px solid #888;
  border-radius: 30px 0 0 30px;
  padding: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
}

.contact__form-button {
  font-family: Vonique64;
  background: #000;
  border: 1px solid #888;
  border-radius: 0 30px 30px 0;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #aaa;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #888, 0 0 70px #888, 0 0 80px #888, 0 0 100px #888, 0 0 150px #888;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #888, 0 0 35px #888, 0 0 40px #888, 0 0 50px #888, 0 0 75px #888;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #888, 0 0 70px #888, 0 0 80px #888, 0 0 100px #888, 0 0 150px #888;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #888, 0 0 35px #888, 0 0 40px #888, 0 0 50px #888, 0 0 75px #888;
  }
}

@-moz-keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #888, 0 0 70px #888, 0 0 80px #888, 0 0 100px #888, 0 0 150px #888;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #888, 0 0 35px #888, 0 0 40px #888, 0 0 50px #888, 0 0 75px #888;
  }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    -webkit-text-fill-color: # !important;
}
